@import "../../../node_modules/jansensan-stylesheets/src/sass/common/variables.scss";

.table-row {
  td {
    border-right: 1px solid $paleGrey;
    padding: 8px;

    &.include-in-shuffle {
      text-align: center;

      input[type=checkbox] {
        width: 16px;
        height: 16px;
      }
    }

    &.profile-pic {
      width: 5%;
      text-align: center;
    }
    &.first-name {
      width: 45%;
      text-align: left;
    }
    &.last-name {
      width: 40%;
      text-align: left;
    }
    &.country-flag {
      width: 5%;
      border-right: none;
      text-align: center;
    }
  }
}
